html, body {
margin: 0;
padding: 0;
}

body {
font-size: 16px;
line-height: 24px;
color: #283136;
background-color: #ffffff; 
font-family: "Roboto Regular", Arial,  sans-serif;
font-weight: normal;
min-width: 1140px;
}

h1 {
font-size: 55px;
line-height: 55px;
color: #000000;
font-family: "Roboto Medium", Arial,  sans-serif;	
font-weight: 500;
}

.company-presentation-left p b {
font-size: 45px;
line-height: 45px;
color: #000000;
font-family: "Roboto Medium", Arial,  sans-serif;
font-weight: 500;
}

div {
	display:block;
}

 
* {
box-sizing: border-box;	
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
 
.main-header {
    margin-bottom:0px;
	/* Только для оформления сетки */
	min-height: 355px;
	background-color: #a9f0d3;
}

/* Только для оформления сетки */

.container {
	width:1180px;
	padding: 0 10px;
	background-color: #c09f9f;
	margin:0 auto;
}

.index-logo {
	width:160px;
	float:left;

 /* Только для оформления сетки */
	min-height: 65px;	
 	background-color: #b9ad88;
}

.main-navigation {
	width:600px;
	float:left;

	 /* Только для оформления сетки */
	min-height: 65px;	
	background-color: #a28989;
}

.user-block {
	width:160px;
    float:right;

	/* Только для оформления сетки */
	min-height: 65px;	
	background-color: #b8efea
}

.company-advantages-item {
	width:300px;
    float:left;
    margin-right:100px;

	/* Только для оформления сетки */
	min-height: 348px;	
	background-color: #8d9ac1;
}

.company-advantages-item:last-child {
	margin-right:0;
}

.company-advantages {
	margin-bottom:0px;
}

.company-presentation-left {
	float:left;
	padding-top:0px;
	width:700px;

	/* Только для оформления сетки */
	min-height: 410px;	
	background-color: #cbd69a;

}

.company-presentation-right {
	float:right;
	padding-left:0px;
	padding-top:0px;
	width:360px;

	/* Только для оформления сетки */
	min-height: 410px;	
	background-color: #cbd69a;
}

.company-presentation {
	margin-bottom: 0px;
}

.company-product-logos {
	margin-bottom:0px;
	text-align:center; 

	/* Только для оформления сетки */
	 	
	background-color: #727c20;
}

.company-product-logos-item {
	display:inline-block;
	vertical-align: middle;
	width:250px;
	padding-top:45px;
	padding-left:30px;
	margin-right:5px;
	 
	/* Только для оформления сетки */
	background-color: #61816c;
 }

.map {
 	 
	/* Только для оформления сетки */ 
	background-color: #a2a6b9;
	min-height: 416px;
 }

.contacts {
	float:left;

	/* Только для оформления сетки */
	min-height: 310px;
	width:320px;
	background-color: #d9cfcf;
}

.main-footer {
	margin-top: 0px;
	padding-top:0px;

/* Только для оформления сетки */
	min-height: 217px;
	background-color: #f7cccd;
}

.footer-social {
	float:left;
	width:320px;
/* Только для оформления сетки */
	min-height: 80px;
	background-color: #d9cfcf;
}

.slogan {
	float:right;
	width:560px;
	margin-right:50px;
/* Только для оформления сетки */
	min-height: 80px;
	background-color: #d9cfcf;
}

.products-filtr {
	float:left;
	width:280px;

	/* Только для оформления сетки */
	min-height: 840px;
	background-color: #d9cfcf;
}

.company-portfolio {
	width:780px;
    float:right;
    padding-left: 20px; 


	/* Только для оформления сетки */
	min-height: 2166px;
	background-color: #d9cfcf;
}

.portfolio-item {
	float:left;
	width:360px;
	margin-right: 40px;
	margin-bottom:36px;

/* Только для оформления сетки */
	min-height: 616px;
	background-color: #99a18c;	
}

.portfolio-item:nth-child(2n) {
	margin-right:0px;
}

.company-portfolio-patterns {
	width:760px;

/* Только для оформления сетки */
	min-height: 1926px;
	background-color: #fba7a9;
}

.slider {
	position:relative;
	width:1160px;
	height:431px;
	margin: 0 auto;
	border:1px dotted black;

}

.slider-controls {
	position: absolute;
	bottom:95px;
	left:50%;
	width:200px;
	height:10px;
	margin-left:-100px;
	text-align: center;
	border:1px dotted green;
	z-index: 1000;
}

/* Непонятно почему не подсвечивается элемент активный */
.slider-controls label {
	display:inline-block;
	width:4px;
	height:4px;
	margin:0 3px;
	background:white;
	border:3px solid white;
	vertical-align:top;
	border-radius:50%;
	cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {

	background: #c1c1c1;

}
.slider-controls .active {
	background: #c1c1c1;
}

.slide {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(255,255,0,0.1);
}

.slide-text {
	width:380px;
	padding:30px 0;
	color:#283136;
}

.slide-title {
	font-size:36px;
	line-height:1;
	font-weight:bold;
	color:black;
}

.slide .btn {
	display:block;
	width:240px;
	padding:10px 0;
	margin-top:25px;
	font-size:12px;
	color:white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background: #fb565a;
	border-radius: 3px;
}

.slide:nth-child(1) {
	background-image:url('../img/slider-1.png');
	background-repeat:no-repeat;
	background-position:100% 10px;
}

.slide:nth-child(2) {
	background-image:url('../img/slider-2.png');
	background-repeat:no-repeat;
	background-position:100% 10px;
}

.slide:nth-child(3) {
	background-image:url('../img/slider-3.png');
	background-repeat:no-repeat;
	background-position:100% 0px;
}
 
.slide {
	display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display:block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display:block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
	display:block;
}